In [20]:
import pandas as pd
import json
from IPython.display import display

In [21]:
# Open the JSON file and load its contents
with open('employees.json', 'r') as f:
    data = f.read()
print(data)

{
"Employees" : [
{
"userId":"rirani",
"jobTitleName":"Developer",
"firstName":"Romin",
"lastName":"Irani",
"preferredFullName":"Romin Irani",
"employeeCode":"E1",
"region":"CA",
"phoneNumber":"408-1234567",
"emailAddress":"romin.k.irani@gmail.com"
},
{
"userId":"nirani",
"jobTitleName":"Developer",
"firstName":"Neil",
"lastName":"Irani",
"preferredFullName":"Neil Irani",
"employeeCode":"E2",
"region":"CA",
"phoneNumber":"408-1111111",
"emailAddress":"neilrirani@gmail.com"
},
{
"userId":"thanks",
"jobTitleName":"Program Directory",
"firstName":"Tom",
"lastName":"Hanks",
"preferredFullName":"Tom Hanks",
"employeeCode":"E3",
"region":"CA",
"phoneNumber":"408-2222222",
"emailAddress":"tomhanks@gmail.com"
}
]
}

In [22]:
# Parse the JSON data into a Python object
data = json.loads(data)

# Flatten the JSON data using json_normalize()
df = pd.json_normalize(data, 'Employees')

# Print the resulting DataFrame
display(df)

,userId,jobTitleName,firstName,lastName,preferredFullName,employeeCode,region,phoneNumber,emailAddress
0,rirani,Developer,Romin,Irani,Romin Irani,E1,CA,408-1234567,romin.k.irani@gmail.com
1,nirani,Developer,Neil,Irani,Neil Irani,E2,CA,408-1111111,neilrirani@gmail.com
2,thanks,Program Directory,Tom,Hanks,Tom Hanks,E3,CA,408-2222222,tomhanks@gmail.com